body {
    margin: 7;
    padding: 7;
    background: url("https://i.gifer.com/2V3X.gif");
    background-size: cover;
  }
  
  a{
    font-size: 2rem;
    color: rgb(242, 172, 9);
  }
  
  #trafficLight1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
  }
  
  #trafficLight2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
  }
  
  #trafficLight3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
  }
