body {
    margin: 0;
    padding: 0;
    background: url("https://i.pinimg.com/originals/d5/bb/03/d5bb03ae4ef5514649ea7750474d3519.gif");
    background-size: cover;
    
}

a{
    font-size: 2rem;
    color: rgb(164, 64, 64);
}

form{
    font-size: 2rem;
    color: rgb(26, 11, 241);
}

#submitButton{
    font-size: 1rem;
    border: rgb(216, 28, 28);

}

p{
    font-size: 5rem;
    align-items: baseline;
    margin: 0;
    padding: 0;
    background-size: cover;  
}
